<DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="/static/css/jogo.css"/>   
    <link rel="stylesheet" href="/static/css/bootstrap.css" rel="stylesheet">
    <title>Partida - Jogo da Velha</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <h1>Partida encerrada!</h1>
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>
</body>
</html>