<!DOCTYPE html>
<html lang="pt-br">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="/static/css/bootstrap.css" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="/static/css/index.css">

  <title>Jogo da Velha</title>
</head>
<body>
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<nav class="navbar navbar-expand-lg navbar-light bg-light">
			  <a class="navbar-brand" href="/"><img src="/static/img/logo.png" width="75" height="75"></a>
			  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			    <span class="navbar-toggler-icon"></span>
			  </button>

			  <div class="collapse navbar-collapse" id="navbarSupportedContent">
			  </div>
			  {% if username %}
			  <div class="login-area navbar-nav">
			  	<a href="" class="nav-link"><i class="fas fa-user"></i> Bem-vindo(a), {{username}}</a>
			  	<a href="/logout" class="nav-link"><i class="fas fa-sign-out-alt"></i> Sair</a>
			  </div>
			  {% else %}
			  <div class="login-area navbar-nav">
			  	<a href="/login" class="nav-link"><i class="fas fa-user"></i> Login</a>
			  	<a href="/cadastro" class="nav-link"><i class="fas fa-user-plus"></i> Cadastro</a>
			  </div>
			  {% endif %}
			</nav>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="tabela">
				<div class="titulo-jogador">
					<h1>Partidas do jogador {{username}}</h1>
				</div>
				<ul class="nav nav-tabs">
				  <li class="nav-item">
				    <a class="nav-link active" href="#andamento" role="tab" data-toggle="tab">Em andamento</a>
				  </li>
				  <li class="nav-item">
				    <a class="nav-link" href="#finalizadas" role="tab" data-toggle="tab">Finalizadas</a>
				  </li>
				</ul>
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="andamento">
						<ul class="list-group">
						{% if partidas|length > 0 %}
						{% for x in partidas %}
						  <li class="list-group-item"><a href="/partida/{{ x[0]}}">Partida Nº {{ x[0] }}</a></li>
						</ul>
						{%endfor%}
						{% else %}
						<div class="titulo-jogador">
						<h3>Nenhuma partida em andamento</h3>
						</div>
						{% endif %}
					</div>
					<div role="tabpanel" class="tab-pane" id="finalizadas">
						<ul class="list-group">
						{% if partidas_fina|length > 0 %}
						{% for x in partidas_fina %}
						  <li class="list-group-item">Partida Nº {{ x[0] }}</li>
						</ul>
						{%endfor%}
						{% else %}
						<div class="titulo-jogador">
						<h3>Nenhuma partida finalizada</h3>
						</div>
						{% endif %}
					</div>
				</div>
				</div>
			</div>
		</div>
	</div>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>
</body>
</html>